body {
    margin: 0;
    padding: 0 10px;
    background-color: #f7f7f7;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border-color: #ddd;
}

label {
    display: block;
    margin-right: 15px;
    font-size: 22px;
    color: #555;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.larger-input {
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-right: 15px;
}

button {
    padding: 12px 25px;
    font-size: 22px;
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.center {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

#result {
    margin-top: 20px;
    color: #555;
    font-size: 32px;   
}

#detailResult{
    font-size: 32px;   
}

.index-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.index-table th, .index-table td {
    padding: 8px;
    text-align: left;
}

.index-table th {
    background-color: #f2f2f2;
}

.header-cell {
    font-weight: bold;
    color: #555;
    text-decoration: underline;
}

.line-break {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}
